body {
    font-family: roboto-light, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.section1, .section2, .section3, .section4 {
    padding: 100px 100px 100px 100px;
    display: flex;
    flex-direction: column;
}

.section1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 10px;
}

.header {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-left: auto;
}

.awesome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.heromessage>p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.heromessage {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.awesome>img {
    width: 50%;
}

.heromessage>button {
    background-color: #3882F6;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    width: 150px;
    color: #F9FAF8;
    font-size: 18px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.info {
    display: flex;
    justify-content: center;
}

.plant>img {
    border-radius: 9px;
    border-color: #3882F6;
    border-width: 3px;
    border-style: solid;
    width: 180px;
    height: 180px;
    margin: 10px 20px 5px 20px;
}

.plant>p {
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    color: #666666;
    text-align: center;
    justify-content: center;
    width: 180px;
}

.section3 {
    background-color: #E5E7EB;
    padding: 100px 200px;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.quote>p {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

blockquote {
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    font-family: roboto-lightitalic;
    color: #1F2937;
    margin: 0px;
}

.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    padding: 30px 100px;
    margin: 0px 100px;
}

button {
    border-radius: 8px;
    border-color: #F9FAF8;
    color: #F9FAF8;
    box-sizing: 2px;
    border-style: solid;
    padding: 5px 25px;
    background-color: #3882F6;
}

.message>p {
    font-size: 18px;
    margin-top: -15px;
}

footer {
    background-color: #1F2937;
    justify-content: center;
    color: #F9FAF8;
    height: 70px;
    display: flex;
    align-items: center;
}